:root {
    --h1: 2.5vh; 
    --h2: 2.1vh;
    --h3: 1.5vh;
    --h4: 1.2vh;
    --h5: 1.0vh;
    --h6: 0.9vh;
    --h7: 0.95vh;
}  
#explain{
    min-width: 45vh;
}
body {
    font-size: var(--h5);
    font-family: "Century Gothic" Lato Calibri Arial Sans-serif;
    padding : 0.1vh;
    margin : 0;
}
.name{
    font-size: var(--h1);
    font-weight: bold;
}
.position{
    font-size: var(--h2);
}
.intro{
    font-size: var(--h5);
}

.contacts{
    font-size: var(--h4);
    border: 0.1vh solid black;
    border-right: 1rem;
    border-left: 1rem;
    display: flex;
    justify-content : center;
}
.contact_item{
    margin : 0.5vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}
img { 
    font-size: var(--h4);
    height: var(--h4);
    width: var(--h4);
}


.body{
    display: flex;
    flex-direction: row;
}
.column{
    margin : 0.4vh;
}
.title {
    font-weight: bold;
    font-size : var(--h4);
}


.work{
    font-size: 1.0vh;
}
.work_item{
    margin : 0.5vh;
}
.work_contents{
    margin-right : 0.25vh;
    margin-left : 0.25vh;
    font-size: var(--h5);
}
.career_title{
    margin-top : 0.25vh;
    font-weight: bold;
    font-size : 1.2vh;
}
.work_title {
    margin-top : 0.25vh;
    font-weight: bold;
    font-size : var(--h5);
}
.work_place{
    font-size : 1.1vh;
}
.work_date{
    display: flex;
    justify-content: space-between;
    font-size : 0.9vh;
    color : rgb(82, 82, 82);
}


.project{
    font-size: 1.0vh;
}
.project_title{
    margin-top : 0.25vh;
    font-weight: bold;
    font-size : 1.0vh;    
}
.project_contents{
    /* margin-top : 0.25vh; */
    margin-right : 0.25vh;
    margin-left : 0.25vh;
}



.skill{
    /* width: 25vh; */
    width : initial;
    display:inline-block;
    margin : 0.5vh;
}
.skill_item {
    background-color: hsl(224, 71%, 42%);
    color: white;
    border: solid 0.1vh;
    border-color: gray;
    border-radius: 0.8vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    height: 0.75vh;
    padding-top: 0.75vh;
    display: inline-block;
    line-height: 0px;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
}





.cert_title{
    font-weight: bold;
    font-size : 1.0vh;
}
.cert-item{
    margin : 0.5vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.edu_title{
    font-weight: bold;
    font-size : 1.0vh;
}
.edu_inst{
    font-size: 1.2vh;
}
.edu_item{
    margin : 0.5vh;
}


