<!DOCTYPE html>
<html>
    <head>
        <title>{{data.title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/test3.css') }}">
        <!-- <link rel="stylesheet" href="test.css"> -->
    </head>
    <body>
        <div class="head">
            <div class="name">{{data.head.name}}</div>
            <div class="position">{{data.head.position}}</div>
            <div class="intro" >
                {{data.head.introduction}}
            </div> 
        </div>
        <div class="contacts">
            <div class="contact_item">
                <img src="{{ url_for('static', filename='img/email.png') }}"> jyim@buffalo.edu
            </div>
            <div class="contact_item">
                <img src="{{ url_for('static', filename='img/call.png') }}"> 716-429-6355
            </div>
            <div class="contact_item">
                <img src="{{ url_for('static', filename='img/position.png') }}"> Buffalo, NY
            </div>
            <div class="contact_item">
                <img src="{{ url_for('static', filename='img/linkedin.png') }}"> linkedin.com/in/junghwanyim
            </div>
        </div>
        <div>
            <div class = "education">
                <div class="title">
                    EDUCATION
                </div>
                {% for edu in data.education %}
                <div class="edu_item">
                    <div class="edu_inst">
                        {{edu.institution}}
                        <span>{{edu.period}}</span>
                    </div>
                    <div class="edu_title">
                        {% for desc in edu.degrees %}
                        {{desc}}
                        <br/>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class = "certificates">
                <div class="title">
                    CERTIFICATES
                </div>
                {% for cert in data.certificates %}
                <div class="cert-item">
                    <div class="cert_title">
                    {{cert.title}}
                    <span>{{cert.institution}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class = "award">
                <div class="title">AWARDS</div>
                {% for award in data.award %}
                <div class="award_item">
                    <div class="award_title">{{award.title}} <span> {{award.institution}} </span></div>
                    <div class="award_contents">
                        {{award.description}}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class = "skill">
                <div class="title">
                    SKILLS & COMPETENCIES
                </div>
                {% for skill in data.skills %}
                    <span class="skill_item">{{skill}}</span>
                {% endfor %}
            </div>
            <div class = "work">
                <div class="title">WORK EXPREIENCE</div>
                {% for career in data.career %}
                <div class="work_item">
                    <div class="career_title">
                        {{career.career_title}}
                        <span>{{career.period}}</span>
                    </div>
                    <div class="work_place">
                        {{career.place}}
                        <span>{{career.address}}</span>
                    </div>
                    {% for work in career.works %}
                    <div class="work_title">{{work.title}}</div>
                    <div class="work_contents">
                        {% for desc in work.description %}
                        {{desc}}
                        <br/>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class = "project">
                <div class="title">PROJECTS</div>
                {% for i in range(data.projects|length) %}
                <div class="project_item">
                    <div class="project_title">
                        {{data.projects[i].name}}
                    </div>
                    <div class="project_contents">
                        {% for description in data.projects[i].description %}
                        {{description }}
                        <br/>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>
        </div>
    </body>
    <footer>
    </footer>
</html>